:root {
  /* neutras */
    --color-white:        #ffffff;
    --color-neutral-1:    #f0f0f0;
    --color-neutral-2:    #a0aab8;
    --color-neutral-3:    #5a6478;
    --color-neutral-4:    #2a2d3e;
    --color-neutral-5:    #0d0b14;

  /* primárias */
    --color-primary-1:    #c4c3f7;
    --color-primary-2:    #9b99f0;
    --color-primary-3:    #7b78e8;
    --color-primary-4:    #5553d4;
    --color-primary-5:    #3d3ab8;
    --color-primary-6:    #1e1b4b;

  /* secundárias */
    --color-secondary-1:  #7dffd8;
    --color-secondary-2:  #3de8c8;
    --color-secondary-3:  #1a0f2e;
}