:root {
  /* neutras */
    --color-white:        #ffffff;
    --color-neutral-1:  #f0f0f0;
    --color-neutral-2:  #a0a0a0;
    --color-neutral-3:  #5a5a5a;
    --color-neutral-4:  #2a2a2a;
    --color-neutral-5:  #111111;

  /* primárias */
    --color-primary-1:  #b3ffb3;
    --color-primary-2:  #72ff72;
    --color-primary-3:  #39ff14;
    --color-primary-4:  #22cc00;
    --color-primary-5:  #146b00;
    --color-primary-6:  #1a2e1a;

  /* secundárias */
    --color-secondary-1:  #e8f5e8;
    --color-secondary-2: #2d4a2d;
    --color-secondary-3: #0a0f0a;
}